/* 登入视频区 start */

.video-wrap {
    position: absolute;
}

.play-btn {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
}

.play-btn .pbtn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pbtn-active {
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* 登入视频区 end */

/* 主页面布局 start */

.main-container {
    min-width: 1000px;
}

/* 主页面布局 end */

/* 头部导航布局 start */

.header {
    width: 100%;
    height: 90px;
    background-color: #22262a;
}

.header-upper,
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-upper {
    height: 55px;
    border-bottom: 1px solid #393939;
}

.logo {
    height: 100%;
}

.nav {
    height: 34px;
}

.nav a {
    color: #ccc;
    font-size: 14px;
    font-weight: 800;
    margin: 0 20px;
    text-transform: uppercase;
}

.nav a:hover {
    color: #fff;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* 头部导航布局 end */

/* 底部布局 start*/

.footer {
    height: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

/* 底部布局 end */